{{ define "all" }}
<div class="header header-container">
	<div class="inner">
		<img src="{{ .Site.Params.frontPageImage }}" class="noselect" />


		<h1>{{ .Site.Title }}</h1>
		<p class="description">{{.Site.Params.description}}</p>
		
		{{ partial "social_links.html" . }}
		{{ partial "main_menu.html" }}

		<div class="content">
			{{ .Content }}
		</div>

		<h3>Recent Posts</h3>
		{{ with .Site.GetPage "post" }}
		{{ range first 10 .Pages }}
		<li>
		  <a href="{{ .Permalink }}">{{ .Title }}</a> - {{.Date.Format "January 2, 2006"}}
		</li>
	  {{ end }}
		{{ end }}
	</div>
</div>

{{ end }}
